@model IEnumerable<MvcApplication2.Models.Cart>

@{
    ViewBag.Title = "OrderHistory";
}

<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Order History<span class="divider">/</span></li>
    </ul>
	<h3>  Order History [ <small>@Model.Count() Item(s) </small>]<a href="@Url.Action("Index","Home")" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>	
	<hr class="soft"/>
   	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Description</th>
				  <th style="width:100px;">Price</th>
                  <th>Discount</th>
                  <th>Tax</th>
                  <th colspan="6" style="text-align:right">Total</th>
				</tr>
              </thead>
              <tbody>
              @foreach(var ct in Model){ 
                <tr>
                  <td> <img width="60" src="@ct.Product.ListImageUrl" alt=""/></td>
                  <td>MASSA AST<br/>Color : black, Material : metal</td>
                  <td id="priceId">$@ct.Product.Price.00</td>
                  <td>$0.00</td>
                  <td>$0.00</td>
                  <td colspan="6" style="text-align:right">$@ct.total.00</td>
                </tr>
              }
                <tr>
                  <td colspan="6" style="text-align:right">Total Price:	</td>
                  <td> $@ViewBag.Total.00</td>
                </tr>
				 <tr>
                  <td colspan="6" style="text-align:right">Total Discount:	</td>
                  <td> $0.00</td>
                </tr>
                 <tr>
                  <td colspan="6" style="text-align:right">Total Tax:	</td>
                  <td> $0.00</td>
                </tr>
				 <tr>
                  <td colspan="6" style="text-align:right"><strong>TOTAL ($@ViewBag.Total - $0.00 + $0.00) =</strong></td>
                  <td class="label label-important" style="display:block"> <strong> @ViewBag.Total.00 </strong></td>
                </tr>
				</tbody>
            </table>	
	<a href="@Url.Action("Index", "Home")" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>

</div>
